{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	background-color:#042590;
	position:absolute;
	transform: translate(-50%,-50%);
	left: 50%;
	top: 50%;
}
h1
{
	color: white;
	text-align: center;
	font-size: 40px;
}
.outerbox
{
	border: 2px solid white;
	height: 450px;
	width: 1000px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to right, #033186,#00AFFD);
}
.ficon
{
	border: 0px solid yellow;
	height: 400px;
	width: 200px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 100px;
}
.fouterbox
{
	border: 0px solid yellow;
	height: 400px;
	width: 800px;
	background-color: #F1F1F1;
	border-radius: 220px 0 0 220px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.fouterbox .min
{
	border: 0px solid black;
	height: 300px;
	width: 650px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.fouterbox .min .left, .right
{
	border: 0px solid blue;
	height: 300px;
	width: 325px;
}
.fouterbox .min .left input[type='text']
{
	width: 98%;
	height: 35px;
	margin-bottom: 10px;
	border: 1px solid;
	border-radius: 5px;
}
.fouterbox .min .right textarea 
{
	width: 98%;
	height: 80px;
	margin-bottom: 10px;
	border: 1px solid;
	border-radius: 5px;
}
.fouterbox .min .right select 
{
	width: 98%;
	height: 40px;
	margin-bottom: 10px;
	border: 1px solid;
	border-radius: 5px;
}
.fouterbox .min .left input[type='submit'], .right input[type='reset']
{
	width: 80%;
	height: 35px;
	margin-bottom: 10px;
	border: 1px solid;
	border-radius: 20px;
}
.submit
{
	background-color: green;
	color: white;
	font-size: 17px;
	margin-top: 20px;
	margin-left: 35px;	
}
.reset
{
	background-color: red;
	color: white;
	font-size: 17px;
	margin-top: 38px;
	margin-left: 35px
}